@import "mocha.css";

* {
  font-family: 'JetBrainsMono Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 17px;
}

window#waybar {
    background: alpha(@base, 0.8);
    color: @blue;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-top: 8px transparent;
    border-radius: 8px;
    transition-duration: 0.5s;
    margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}


tooltip {
     background-color: @crust;
     border: 1px solid @sky;
}

tooltip label {
  color: @text;
}

#custom-screenshot,
#workspaces,
#taskbar,
#pulseaudio,
#tray,
#custom-cliphist,
#clock,
#custom-power,
#custom-nix {
    border-top: 1px solid @rosewater;
    background-color: @surface0;

    padding: 0 10px;
    border-radius: 9.5px;
}

#workspaces, #taskbar {
    padding: 4 1;
    margin: 0 4px;
    border-radius: 7.8px;
    background-color: @surface0;
}

#workspaces button {
    padding: 0px 5px;
    color: @subtext0;
    margin: 0px 3px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @overlay0;
    color: @text;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background-color: @peach;
    color: @sky;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    opacity:1;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-power{
    border-right: 1px solid @rosewater;
    border-radius: 7.5px;
    padding: 0 5px;
}

#custom-nix{
    border-left: 1px solid @rosewater;
    border-radius: 7.5px;
    padding: 0 3px;
}

#custom-screenshot {
    color: @subtext1;
}

#pulseaudio {
    color: @red;
}

#custom-cliphist {
    color: @peach;
}

#taskbar button {	 
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;

    color: @overlay0;
    transition: all 0.3s ease-in-out;
    opacity:0.4;    
}

#taskbar button.active {
	background-color: @overlay0;
    border-radius: 10px;
    min-width: 30px;
    background-size: 200% 200%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#taskbar button:hover {
    background-color: @peach;    
    color: @sky; 
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    opacity:1;
}

#temperature, #cpu, #disk, #memory{
    /*top|left|bottom|right*/
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    color: @text;

    border-radius: 10px;
    font-weight: normal;
    font-style: normal;     
    opacity:0.8;
}


#temperature {	
    color: @mauve;
    margin-left:10px;
}

#cpu {
    color: @maroon;
    margin-left:10px;
}

#disk{
    color: @yellow;
}

#memory {
    color: @teal;
    margin-right:10px;
}

#custom-media {
	margin: 5px 5px 5px 5px;
	padding: 4px 1px;
	color: @text;
	border-radius: 10px;
	font-weight: normal;
	font-style: normal;
	opacity:0.8;
}

#clock {
    border-top: transparent;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 9.5px;
}

#custom-media {
    color: @sky;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
