@import "mocha.css";


* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 45px;
}

window#waybar {
    background: transparent;
    color: @blue;
}

tooltip {
     background-color: @crust;
     border: 1px solid @sky;
}

tooltip label {
  color: @text;
}

#workspaces, #taskbar, #custom-nix, #custom-power, #tray, #pulseaudio {
    border-top: 1px solid @rosewater;
    background-color: @surface0;
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;

    border-radius: 10px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
}

#custom-power{
    border-left: 1px solid @rosewater;
    padding-left: 10px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#custom-nix{
    padding-right: 10px;
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
    margin: 3px 0px 3px 0px;
    padding: 5px;
}

#tray, #pulseaudio {
    border-top: transparent;
    background-color: transparent;
    color: @text;
}

#workspaces button {
    color: @subtext0;
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;

    transition: all 0.3s ease-in-out;
    opacity:0.4;
    font-size:13px;
}

#workspaces button.active {    
    background-color: @overlay0;
    color: @text;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {      
    background-color: @peach;    
    color: @sky; 
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    opacity:1;
}

#taskbar button {	 
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;

    color: @overlay0;
    transition: all 0.3s ease-in-out;
    opacity:0.4;    
}

#taskbar button.active {
	background-color: @overlay0;
    border-radius: 10px;
    min-width: 30px;
    background-size: 200% 200%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#taskbar button:hover {
    background-color: @peach;    
    color: @sky; 
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    opacity:1;
}

#temperature, #cpu, #disk, #memory{
    /*top|left|bottom|right*/
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    color: @text;

    border-radius: 10px;
    font-weight: normal;
    font-style: normal;     
    opacity:0.8;
}

#temperature {	
   margin-left:10px;
}

#memory {
    margin-right:10px;
}

#clock, #custom-media {
	margin: 5px 5px 5px 5px;
	padding: 4px 1px;
	color: @text;
	border-radius: 10px;
	font-weight: normal;
	font-style: normal;
	opacity:0.8;
}

#clock {
    border: 1px solid @rosewater;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-media {
    color: @sky;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
